<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/user_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="w-full">
        <table class="">
            <caption class="text-[20px] text-red-400">장바구니</caption>
            <tbody>
                
            </tbody>
        </table>
    </div>


<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/wish/wish_list.js"></script>
</th:block>
</html>