<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="menuFragment">



        <div class="text-center">
            <ul class="inline-block [&>li]:border [&>li]:m-1 [&>li]:p-3 [&>li]:w-[200px] [&>li]:rounded-lg [&>li]:text-left">
                <li class="list-group-item pointer-span hover:bg-red-300 hover:text-white" onclick="location.href='/member/myPage';">회원 정보 수정</li>
                <li class="list-group-item pointer-span hover:bg-red-300 hover:text-white" onclick="location.href='/reserve/reserveList';">예약 내역</li>
                <li class="list-group-item pointer-span hover:bg-red-300 hover:text-white" onclick="location.href='/item/myParty';">나의 파티</li>
            </ul>
        </div>


</th:block>

</html>