<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/layout파일명기입}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row">
        <div class="col">
            <form action="/board/updateBoard" method="post">
                [[${boardNum}]]
                <input type="hidden" name="boardNum" th:value="${boardNum}">
                <table>
                    <tr>
                        <td>
                            <input type="text" name="boardTitle">
                        </td>
                        <td>
                            <input type="text" name="boardContent">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="boardPrice">
                        </td>
                        <td>
                            <input type="text" name="boardPeople">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="boardPlace">
                        </td>
                        <td>
                            <input type="text" name="placeDetail">
                        </td>
                    </tr>
                </table>
            </form>
            
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/"></script>
</th:block>
</html>