<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/user_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <!-- 여기에 CSS 파일 링크 추가 -->
    <link rel="stylesheet" href="/css/fragment/item_list.css">
    <link rel="stylesheet" href="/css/content/main.css">
</head>
<body>
    <!-- itemList를 표시할 컨테이너 -->
    <div class="mx-auto max-w-7xl py-1 px-4 md:px-3 container">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4" id="itemListContainer">
            <!-- itemList가 동적으로 추가될 자리 -->
        </div>
    </div>

    <!-- 이하 JavaScript 파일 링크 추가 -->
    <script src="/js/content/main.js"></script>
</body>
</html>