<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/user_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/fragment/item_list.css">
    <link rel="stylesheet" href="/css/content/main.css">

</th:block>
<th:block layout:fragment="contentFragment">
    <input id="loginId" type="hidden" th:value="${session.memberId}">
    <input id="cateCode" type="hidden" th:value="${cateCode}">
    <div class="mx-auto max-w-7xl py-1 px-4 md:px-3 ">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 container" id="itemListContainer">
            <!-- itemList가 동적으로 추가될 자리 -->



            <!-- dialog 시작 , 여기는 dialog 오픈 시 배경이 검해지는 부분 -->
            <div id="detail_modal"
                class="hidden fixed inset-0 z-30 items-center justify-center bg-black bg-opacity-50"
                x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100" x-transition:leave="ease-in duration-200"
                x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">

                <!-- 찐 dialog 시작 부분 -->
                <div class="my-scroll dialog-div relative transform z-50 h-4/5 rounded-lg bg-white text-left shadow-xl transition-all my-8 w-full max-w-xl"
                    x-transition:enter="ease-out duration-300"
                    x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                    x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                    x-transition:leave="ease-in duration-200"
                    x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                    x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">

                    <!-- dialog body -->
                    <div class="p-tag " >




                    </div>

                    <!-- dialog footer -->
                    <!-- 참여 버튼 -->
                    <div class="flex gap-3 justify-end bg-gray-50 px-4 py-2">
                        <button type="button"  th:if="${session.memberId != null}"
                            class="reserve-btn inline-flex justify-center rounded-md bg-red-600 px-3 py-1 text-sm font-semibold text-white shadow-sm hover:bg-red-500 ml-3 w-auto">참여하기</button>
                        
                        <!-- 취소 버튼 -->
                        <button type="button" onclick="modalToggle()" 
                            class="inline-flex justify-center rounded-md bg-white px-3 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 mt-0 w-auto">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
        <th:block sec:authorize="isAuthenticated()">
            <div class="fixed bottom-20 right-6">
                <input type="button" onclick="location.href='/item/itemAddForm'" value="글쓰기"
                    class="text-sm font-medium rounded-full bg-red-600 border border-slate-200 px-3 py-1.5 text-white hover:bg-white hover:text-red-600 hover:border-red-500 focus-visible:outline-none focus-visible:ring focus-visible:ring-red-300 transition">
            </div>
        </th:block>
    </div>
</th:block>
<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3f269d19617ad795568529a85a77081a "></script>
    <script src="/js/content/main.js"> </script>
    

</th:block>

</html>