<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
        <link rel="stylesheet" href="/css/content/chat/chat.css">
    
        <div class="container">
            <div>
                <input class="chatId" type="hidden" th:value="${#authentication.name}">
                
            </div>
            <div id="chat-room">
                <div class="row" style="width: 100%;">
                    <div class="col-6 chat-title">
                        <label><b>채팅방</b></label>
                        
                    
                    </div>
                    <div>
                        <div id="msgArea" class="col">
                            
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <input type="text" id="msg" onkeypress="enterkey(this)" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary send-btn" type="button" id="button-send"><img width="100%" src="/upload/chat/send.jpg" alt=""></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    


    <script src="/js/content/chat/chat.js"></script>
</html>