<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="userMenuFragment">
  <div class="row g-4">

      <div class="col-md">
          <select class="form-select" id="floatingSelectGrid">
            <option selected>지역</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>        
      </div>
      <div class="col-md">
          <select class="form-select" id="floatingSelectGrid">
            <option selected>카테고리</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>      
      <div class="col-md">
        <select class="form-select" id="floatingSelectGrid">
          <option selected>날짜</option>
          <option value="1">1월</option>
          <option value="2">2월</option>
          <option value="3">3월</option>
        </select>
      </div>      

      
      <div class="col-md">
        <div class="form-floating d-block d-flex">
          <button type="button" class="btn btn-secondary me-2">Secondary</button>
          <button type="button" class="btn btn-secondary">Reset</button>
        </div>
      </div>

  </div>



</th:block>
</html>