<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>NolLoo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com/3.4.3"></script>

    <link href="/css/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com/3.4.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="//unpkg.com/alpinejs"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <link rel="stylesheet" href="/css/fragment/btn.css">
    <th:block layout:fragment="content_css"></th:block>
</head>
<body class="bg-zinc-50/100 " x-data="{ 'showModal': false }" @keydown.escape="showModal = false" x-cloak >
    
    <th:block th:replace="~{fragment/user_header :: headerFragment}"></th:block>

    <th:block layout:fragment="contentFragment"></th:block>

    <th:block th:replace="~{fragment/footer::footerFragment}"></th:block>

    <th:block layout:fragment="content_js"></th:block>
    
</body>
</html> 