<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/my_page/my_layout}">


<th:block layout:fragment="contentFragment">

    <div class="grid grid-cols-3 divide-x" style="margin-top: 8%; margin-bottom: 20%;">
        <div>
            <h6 style="font-weight: bold;">나의 파티</h6>
            <table class="border-separate">
                <colgroup>
                    <col width="8%">
                    <col width="25%">
                    <col width="10%">
                    <col width="20%">
                </colgroup>
                <tr>
                    <td>No</td>
                    <td>제목</td>
                    <td>인원수</td>
                    <td>시작 날짜</td>
                </tr>
                <tr th:each="myPart, state:${myPartyList}" th:onclick="getDetail([[${myPart.itemCode}]])">
                    <td>[[${state.index + 1}]]</td>
                    <td>[[${myPart.itemTitle}]]</td>
                    <td>[[${myPart.itemPeople}]]</td>
                    <td>[[${myPart.itemStartDate}]]</td>
                </tr>
            </table>
        </div>
        <div class="detail-div">

        </div>

    </div>

</th:block>

</body>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/member/my_party.js"></script>
</th:block>

</html>