<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="contentFragment">
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <tr>
                    <td>No</td>
                    <td>제목</td>
                    <td>인원수</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</th:block>

</body>

</html>