<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/my_page/my_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->

    <div class="row" style="justify-content: center; margin-top: 5%;">
        <div class="col">
            <h4>예약내역</h4>
        </div>
    </div>
    <div class="row" style="text-align: left;">
        <div class="col">
            <table class="table table-bordered text-center">

                <tr>
                    <td><input type="checkbox" id="checkAll" onclick="checkAll()"></td>
                    <td style="font-weight: bold;">No</td>
                    <td style="font-weight: bold;">Party</td>
                    <td style="font-weight: bold;">Date</td>
                </tr>
                <tr th:each="reserve, state:${reserveList}">
                    <td><input type="checkbox" class="chk" th:value="${reserve.reserveCode}"></td>
                    <td>[[${state.index + 1}]]</td>
                    <td> <span
                            th:onclick="getReserveDetail([[${reserve.itemCode}]])">[[${reserve.itemVO.itemTitle}]]</span>
                    </td>
                    <td>[[${reserve.reserveDate}]]</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" style="margin-bottom: 30%;">
        <div class="col" style="justify-content: end; text-align: end;">
            <input type="button" class="btn btn-primary" value="삭제" onclick="deleteReserve()">
        </div>
    </div>




    <!-- Modal -->
    <!-- <div class="modal modal-xl fade" id="reserveModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" style="font-weight: bold;">예약상세내역</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <table class="table table-bordered align-middle text-center">
                                <colgroup>
                                    <col width="20%">
                                    <col width="15%">
                                    <col width="10%">
                                    <col width="20%">
                                    <col width="15%">
                                    <col width="20%">
                                </colgroup>

                                <thead>
                                    <tr>
                                        <td>party</td>
                                        <td>content</td>
                                        <td>가격</td>
                                        <td>날짜</td>
                                        <td>인원수</td>
                                        <td>장소</td>
                                    </tr>
                                </thead>

                                <tbody id="modal_tbody">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>


                            </table>
                        </div>
                    </div>






                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->

    <div class="modal fade modal-xl" id="reserveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" style="font-weight: bold;">예약상세내역</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <table class="table table-bordered align-middle text-center">
                                <colgroup>
                                    <col width="20%">
                                    <col width="15%">
                                    <col width="10%">
                                    <col width="20%">
                                    <col width="15%">
                                    <col width="20%">
                                </colgroup>

                                <thead>
                                    <tr>
                                        <td>party</td>
                                        <td>content</td>
                                        <td>가격</td>
                                        <td>날짜</td>
                                        <td>인원수</td>
                                        <td>장소</td>
                                    </tr>
                                </thead>

                                <tbody id="modal_tbody">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>


                            </table>
                        </div>
                    </div>






                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/member/reserve.js"></script>
</th:block>

</html>