<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/my_page/my_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->


    <div class="flex">
        <div class="basis-2/5">
            <table class="w-full border text-center ">
                <caption class="text-left">예약내역</caption>

                <tbody class="[&>tr>td]:border">
                    <tr class="bg-red-300 text-white">
                        <td><input type="checkbox" id="checkAll" onclick="checkAll()"></td>
                        <td style="font-weight: bold;">No</td>
                        <td style="font-weight: bold;">Party</td>
                        <td style="font-weight: bold;">Date</td>
                    </tr>
                    <tr th:each="reserve, state:${reserveList}">
                        <td><input type="checkbox" class="chk" th:value="${reserve.itemVO.itemCode}"></td>
                        <td>[[${state.index + 1}]]</td>
                        <td>

                            <span class="text-sm font-medium   px-3 py-1.5
                                focus-visible:outline-none
                                focus-visible:ring focus-visible:ring-red-300 transition" @click="showModal1 = true"
                                th:onclick="getReserveDetail([[${reserve.itemCode}]])">
                                [[${reserve.itemVO.itemTitle}]]
                            </span>

                        </td>
                        <td>[[${reserve.reserveDate}]]</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <input type="button" class="btn btn-primary" value="삭제" onclick="deleteReserve()">
            </div>


        </div>
        <div class="detail basis-3/5">

        </div>
    </div>







    <!-- 모달창(예약 상세 내역) -->

    <div class="basis">

        <!-- <table class="table table-bordered align-middle text-center">
            <caption>예약상세내역</caption>
            <colgroup>
                <col width="20%">
                <col width="15%">
                <col width="10%">
                <col width="20%">
                <col width="15%">
                <col width="20%">
            </colgroup>

            <thead>
                <tr>
                    <td>party</td>
                    <td>content</td>
                    <td>가격</td>
                    <td>날짜</td>
                    <td>인원수</td>
                    <td>장소</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>


        </table> -->
    </div>














</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/member/reserve.js"></script>
</th:block>

</html>