<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/user_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/board/board_detail.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드작성-->

    <div class="space-y-6 mr-10 mx-20 px-40 ">

        <div class="main-img-div">
            <span>
                <th:block th:if="${item.cateCode == 1}">
                    <th:block th:each="img : ${item.imgList}">
                        <th:block th:if="${img.isMain=='Y'}">
                            <div class="img-div"
                                th:style="'background-image:url(/upload/itemSolo/' + ${img.attachedFileName} + ');background-repeat:no-repeat;'">
                            </div>
                        </th:block>
                    </th:block>
                </th:block>
            </span>
            <span>
                <th:block th:if="${item.cateCode == 2}">
                    <th:block th:each="img : ${item.imgList}">
                        <th:block th:if="${img.isMain=='Y'}">
                            <div class="bg-fixed"
                                th:style="'background-image:url(/upload/item/' + ${img.attachedFileName} + ');background-repeat:no-repeat;'">
                            </div>

                        </th:block>
                    </th:block>
                </th:block>
            </span>
        </div>

        <!-------- 메인이미지 ------->

        <!------------- 개최자 ----------->
        <div class="py-4 px-4 border-slate-100 bg-white shadow-xl shadow-slate-900/5 rounded-lg">
            <div class="id-div font-size: 1.125rem;">
                개최자
            </div>

            <!------------- 장소 ----------->
            
                <div style="font-size: 15px;">
                    <!-- 동만 나오게 설정 예정 -->
                    [[${item.itemPlace}]]
                </div>
            
        </div>
        <!------------ 제목 ---------->

        <div class="drop-shadow-lg ">
            <b>[[${item.itemTitle}]]</b>
        </div>


        <!---------- 올린시간 --------->
        <div class="row-mb-3 ">
            <div class="col date-div">
                [[${item.itemStartDate}]]~[[${item.itemEndDate}]]
            </div>
        </div>

        <!--------------------- 상세이미지  ------------------------->

        <div class="grid grid-cols-3 gap-4">
            <span class="flex flex-row p-4">
                <th:block th:if="${item.cateCode == 1}">
                    <th:block th:each="img : ${item.imgList}">
                        <th:block th:if="${img.isMain=='N'}">
                            <div class="lg:w-full ml-5 lg:ml-2 ">
                                <img th:src="@{'/upload/itemSolo/'+${img.attachedFileName}}"
                                    class="sub-img-div object-center lg:rounded-lg " alt="">
                            </div>
                        </th:block>
                    </th:block>
                </th:block>
            </span>
            <span class="flex flex-row p-4">
                <th:block th:if="${item.cateCode == 2}">
                    <th:block th:each="img : ${item.imgList}">
                        <th:block th:if="${img.isMain=='N'}">
                            <div class="lg:w-full ml-5 lg:ml-2">
                                <img width="100%" th:src="@{'/upload/item/'+${img.attachedFileName}}"
                                    class="sub-img-div object-center lg:rounded-lg" alt="">
                            </div>
                        </th:block>
                    </th:block>
                </th:block>
            </span>
        </div>
        <!------------ 내용 ------------>
        <div class="py-4 px-4 border-slate-100 bg-white shadow-xl shadow-slate-900/5 rounded-lg ">
            <p class="h-80 text-lg  size-full align-top list-disc px-3">
                [[${item.itemContent}]]
            </p>
        </div>


        <!------------- 조회수 ------------>

        <div>
            [[${item.readCnt}]]/
            <span sec:authorize="isAuthenticated()" th:onclick="goChat([[${item.itemCode}]])">채팅바로가기</span>
            <span sec:authorize="isAnonymous()" onclick="goLogin()">채팅바로가기</span>
        </div>


        <!------------- 위치 ------------>

        <div>
            위치/지도
        </div>
        <input type="hidden" id="itemX" name="itemX" th:value="${item.itemX}">
        <input type="hidden" id="itemY" name="itemY" th:value="${item.itemY}">

        <div id="map" style="width:100%;height:600px;"></div>


        <!------------ 버튼 -------------->
        <div class="grid grid-cols-6 divide-x pb-14">
            <div class="">
                <button type="button" th:if="${reserveCnt == 0}" th:onclick="reserveInsert([[${item.itemCode}]])"
                    class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    참여</button>
                <button type="button" th:if="${reserveCnt != 0}" th:onclick="reserveAlert([[${item.itemCode}]])"
                    class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    참여</button>
            </div>

            <!-- 글 올린사람이 마감 올릴 수 있게 마감된 게시글 -->
            <div class="">
                <button type="button" onclick="deadline()"
                    class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    마감</button>
            </div>

            <div >
                <button type="button" th:onclick="|location.href='@{/item/updateForm(itemCode=${item.itemCode})}'|"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    수정</button>
            </div>
            <div >
                <button type="button" th:onclick="|location.href='@{/item/deleteItem(itemCode=${item.itemCode})}'|"
                    class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    삭제</button>
            </div>
            <div >
                <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    목록</button>
            </div>
            <div >
                <button type="button" th:onclick="goWish([[${item.itemCode}]],[[${#authentication.name}]])"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    찜</button>
            </div>
        </div>
    </div>


</th:block>

<script>
    var itemX = document.getElementById("itemX").value;
    var itemY = document.getElementById("itemY").value;
</script>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/item/item_detail.js"></script>
    <!-- 3f269d19617ad795568529a85a77081a -->
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3f269d19617ad795568529a85a77081a "></script>
    <script src="/js/position.js"></script>

</th:block>

</html>