<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/user_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/board/board_detail.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드작성-->

    <div class="row justify-content-center ">
        <div class="col-10 align-item-center text-start">
            <!-------- 메인이미지 ------->
            <table class="table">
                <tr class="main-img-tr">
                    <td>
                        <div class="row">
                            <div class="col text-center main-img-div align-middle">
                                메인이미지
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!------------- 개최자 ----------->
                        <div class="row">
                            <div class="col id-div">
                                개최자
                            </div>
                        </div>
                        <!------------- 장소 ----------->
                        <div class="row-mb-3">
                            <div class="col" style="font-size: 13px;">
                                <!-- 동만 나오게 설정 예정 -->
                                [[${item.itemPlace}]]
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!------------ 제목 ---------->
                        <div class="row">
                            <div class="col ">
                                <b>[[${item.itemTitle}]]</b>
                            </div>
                        </div>
                        <!---------- 올린시간 --------->
                        <div class="row-mb-3 ">
                            <div class="col date-div">
                                [[${item.itemDate}]]
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="content-tr">
                    <td >
                        <!------------ 내용 ------------>
                        <div class="row">
                            <div class="col-8"style="font-size: 18px;">
                                [[${item.itemContent}]]
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!------------- 조회수 ------------>
                        <div class="row">
                            <div class="col ">
                                조회수/<span onclick="goChat()">채팅바로가기</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!------------- 위치 ------------>
                        <div class="row">
                            <div class="col">
                                위치/지도
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!------------ 버튼 -------------->
                        <div class="row">
                            <!-- 글 올린사람이 마감 올릴 수 있게 마감된 게시글 -->
                            <div class="col">
                                <button type="button" onclick="deadline()" class="btn btn-outline-danger">
                                    마감</button>
                            </div>
                            
                            <div class="col">
                                <button type="button" th:onclick="|location.href='@{/item/updateForm(itemCode=${item.itemCode})}'|" class="btn btn-outline-primary">
                                    수정</button>
                            </div>
                            <div class="col">
                                <button type="button"
                                    th:onclick="|location.href='@{/item/deleteItem(itemCode=${item.itemCode})}'|"
                                    class="btn btn-outline-danger">
                                    삭제</button>
                            </div>
                            <div class="col">
                                <button type="button" th:onclick="reserve([[${item.itemCode}]])" class="btn btn-outline-success">
                                    참여</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-info">
                                    목록</button>
                            </div>
                            <div class="col">
                                <button type="button"
                                    th:onclick="goWish([[${item.itemCode}]],[[${session.loginInfo}]])"
                                    class="btn btn-outline-info">
                                    찜</button>
                            </div>
                        </div>
                    </td>
                </tr>

        </div>
    </div>
    </table>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/item/item_detail.js"></script>
</th:block>

</html>