<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/user_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/board/board_detail.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드작성-->

    <div class="space-y-6 mr-10 mx-20 px-40 ">

        <div class="main-img-div">
            <span>
                <th:block th:if="${item.cateCode == 1}">
                    <th:block th:each="img : ${item.imgList}">
                        <th:block th:if="${img.isMain=='Y'}">
                            <div class="img-div"
                                th:style="'background-image:url(/upload/itemSolo/' + ${img.attachedFileName} + ');background-repeat:no-repeat;'">
                            </div>
                        </th:block>
                    </th:block>
                </th:block>
            </span>
            <span>
                <th:block th:if="${item.cateCode == 2}">
                    <th:block th:each="img : ${item.imgList}">
                        <th:block th:if="${img.isMain=='Y'}">
                            <div class="img-div"
                                th:style="'background-image:url(/upload/item/' + ${img.attachedFileName} + ');background-repeat:no-repeat;'">
                            </div>

                        </th:block>
                    </th:block>
                </th:block>
            </span>
        </div>

        <!-------- 메인이미지 ------->

        <!------------- 개최자 ----------->
        <div class="py-4 px-4 border-slate-100 bg-white shadow-xl shadow-slate-900/5 rounded-lg">
            <div class="id-div font-size: 1.125rem;">
                [[${item.memberId}]]
            </div>

            <!------------- 장소 ----------->

            <div style="font-size: 15px;">
                <!-- 동만 나오게 설정 예정 -->
                [[${item.itemPlace}]]
            </div>

        </div>
        <!------------ 제목 ---------->

        <div class="drop-shadow-lg text-3xl font-semibold">
            [[${item.itemTitle}]]
        </div>


        <!---------- 올린시간 --------->
        <div class="row-mb-3 ">
            <div class="col date-div">
                [[${item.itemStartDate}]]~[[${item.itemEndDate}]]
            </div>
        </div>

        <!--------------------- 상세이미지  ------------------------->

        <div class="grid grid-cols-3 gap-4">
            <th:block th:if="${item.cateCode == 1}">
                <span class="flex flex-row p-4">
                    <th:block th:each="img : ${item.imgList}">
                        <th:block th:if="${img.isMain=='N'}">
                            <div class="lg:w-full ml-5 lg:ml-2 ">
                                <img th:src="@{'/upload/itemSolo/'+${img.attachedFileName}}"
                                    class="sub-img-div lg:rounded-lg " alt="">
                            </div>
                        </th:block>
                    </th:block>
                </span>
            </th:block>
            <th:block th:if="${item.cateCode == 2}">
                <span class="flex flex-row p-4">
                    <th:block th:each="img : ${item.imgList}">
                        <th:block th:if="${img.isMain=='N'}">
                            <div class="lg:w-full ml-5 lg:ml-2">
                                <img th:src="@{'/upload/item/'+${img.attachedFileName}}"
                                    class="sub-img-div lg:rounded-lg" alt="">
                            </div>
                        </th:block>
                    </th:block>
                </span>
            </th:block>
        </div>
        <!------------ 내용 ------------>
        <div class="py-4 px-4 border-slate-100 bg-white shadow-xl shadow-slate-900/5 rounded-lg ">
            <p class="h-80 text-lg  size-full align-top list-disc px-3">
                [[${item.itemContent}]]
            </p>
        </div>


        <!------------- 조회수 ------------>

        <div>
            조회수: [[${item.readCnt}]]/
            <span sec:authorize="isAuthenticated()" th:onclick="goChat([[${item.itemCode}]])">채팅바로가기</span>
            <span sec:authorize="isAnonymous()" onclick="goLogin()">채팅바로가기</span>
        </div>


        <!------------- 위치 ------------>

        <div>
            위치/지도
        </div>
        <input type="hidden" id="itemX" name="itemX" th:value="${item.itemX}">
        <input type="hidden" id="itemY" name="itemY" th:value="${item.itemY}">

        <div id="map" style="width:100%;height:600px;"></div>


        <!------------ 버튼 -------------->
        <div class="grid grid-cols-6 divide-x pb-14">
            <div class="">



                
                <button type="button" th:if="${session.memberId != null}"
                    th:onclick="reserveInsert([[${item.itemCode}]],[[${reserveCnt}]])"
                    class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    참여</button>
                <div x-data="{ showModal: false }">
                    <!-- Button to open the modal -->
                    <button @click="showModal = true" type="button" th:if="${session.memberId == null}"
                        
                        class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                        참여</button>




                    <!-- Background overlay -->
                    <div x-show="showModal" class="fixed inset-0 transition-opacity " aria-hidden="true"
                        @click="showModal = false" style="display: none;">
                        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                    </div>
                    <!-- Modal -->
                    <div x-show="showModal" x-transition:enter="transition ease-out duration-300 transform"
                        x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                        x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                        x-transition:leave="transition ease-in duration-200 transform"
                        x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                        x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                        class="fixed z-10 inset-0 overflow-y-auto" style="display: none;">
                        <div
                            class=" flex items-end justify-center min-h-screen pt-4 px-4 pb-20  text-center sm:block sm:p-0 ">
                            <div class="w-full inline-block border- align-bottom bg-blue-50 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                                role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                                <div id="alert-border-1"
                                    class="flex items-center  p-4 mb-4 text-black-800 border-blue-300 border-t-4 dark:border-blue-800 bg-blue-50 dark:text-blue-400 dark:bg-gray-800 "
                                    role="alert">

                                    <div class="ms-[35%] mt-[8%] text-xl font-thin ">
                                        로그인 해주세요.

                                    </div>
                                </div>
                                <div
                                    class=" text-blue-800 borde rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                                    <button @click="showModal = false" type="button"
                                        class="text-white bg-blue-600 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                        data-dismiss-target="#alert-additional-content-1" aria-label="Close">
                                        Cancel

                                    </button>
                                    <button type="button"
                                        class="text-white bg-blue-600 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 글 올린사람이 마감 올릴 수 있게 마감된 게시글 -->
            <div class="">
                <button type="button" onclick="deadline()"
                    class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    마감</button>
            </div>

            <div class="">
                <button type="button" th:onclick="|location.href='@{/item/updateForm(itemCode=${item.itemCode})}'|"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    수정</button>
            </div>
            <div class="">
                <button type="button" th:onclick="|location.href='@{/item/deleteItem(itemCode=${item.itemCode})}'|"
                    class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    삭제</button>
            </div>
            <div class="">
                <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    목록</button>
            </div>
            <div class="">
                <button type="button" th:onclick="goWish([[${item.itemCode}]],[[${#authentication.name}]])"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    찜</button>
            </div>
        </div>
    </div>

    

</th:block>

<script>
    var itemX = document.getElementById("itemX").value;
    var itemY = document.getElementById("itemY").value;
</script>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/item/item_detail.js"></script>
    <!-- 3f269d19617ad795568529a85a77081a -->
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3f269d19617ad795568529a85a77081a "></script>
    <script src="/js/position.js"></script>

</th:block>

</html>