<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sideFragment">

<div class="text-center">
    <ul class="inline-block [&>li]:border [&>li]:m-1 [&>li]:p-3 [&>li]:w-[200px] [&>li]:rounded-lg [&>li]:text-left">
        <li class="list-group-item pointer-span hover:bg-red-300 hover:text-white" onclick="location.href='/admin/adminNotice'">공지사항</li>
        <li class="list-group-item pointer-span hover:bg-red-300 hover:text-white" onclick="location.href='/admin/adminMemberManage'">회원관리</li>
        <li class="list-group-item pointer-span hover:bg-red-300 hover:text-white" onclick="location.href='/admin/adminBoardManage'">글 관리</li>
        <li class="list-group-item pointer-span hover:bg-red-300 hover:text-white" onclick="location.href='/admin/adminJoinStatistics'">참여통계</li>
        <li class="list-group-item pointer-span hover:bg-red-300 hover:text-white" onclick="location.href='/admin/adminBuyList'">구매리스트</li>
    </ul>
</div>

</th:block>

</html>