.main-img-div{
    width: 100%;
    
}
.main-img-tr{
    height: 300px;
}
.date-div{
    font-size: 8pt;
}
b{
    font-size: 18pt;
}
.content-tr{
    height: 300px;
}
.id-div{
    font-size: 18px; 
    font-weight: bold;
}