.main-img-div{
    
    width:1200px;
    height:1000px;
    overflow:hidden;
    margin:0 auto;
    
}
.main-img-tr{
    height: 300px;
}
.date-div{
    font-size: 16pt;
}
b{
    font-size: 18pt;
}
.content-tr{
    height: 300px;
}
.id-div{
    font-size: 18px; 
    font-weight: bold;
}
.img-div{
    
    width:100%;
    height:100%;
    object-fit:cover;
    background-size:contain;
    background-attachment: fixed;
    background-position: center;

}
.card-body{
    border: none;
    text-align: start;
    margin: 0px;
    padding: 0px;
}
