<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="adminMapper">

    <resultMap id="notice" type="com.green.Nolloo.admin.vo.NoticeVO">
        <id column="NOTICE_CODE" property="noticeCode"/>
        <result column="NOTICE_WRITER" property="noticeWriter"/>
        <result column="NOTICE_TITLE" property="noticeTitle"/>
        <result column="NOTICE_CONTENT" property="noticeContent"/>
        <result column="NOTICE_DATE" property="noticeDate"/>
        <result column="READ_CNT" property="readCnt"/>
        <collection property="noticeImgList" resultMap="noticeImg"/>
    </resultMap>

    <resultMap id="noticeImg" type="com.green.Nolloo.admin.vo.NoticeImgVO">
        <id column="NOTICE_IMG_CODE" property="noticeImgCode"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="ORIGIN_FILE_NAME" property="originFileName"/>
        <result column="NOTICE_CODE" property="noticeCode"/>
    </resultMap>

    <resultMap id="reply" type="com.green.Nolloo.admin.vo.ReplyVO">
        <id column="REPLY_CODE" property="replyCode"/>
        <result column="CONTENT" property="content"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="WRITER" property="writer"/>
        <result column="NOTICE_CODE" property="noticeCode"/>
    </resultMap>

    <resultMap id="itemCntPerMonth" type="com.green.Nolloo.admin.vo.ItemCntPerMonth">
        <result  column="MONTH" property="month"/>
        <result  column="CNT" property="cnt"/>
        <result  column="RESERVE_CODE" property="reserveCode"/>
    </resultMap>

	<insert id="insertFestival">
        INSERT INTO ITEM_INFO(
            ITEM_TITLE
            , ITEM_PLACE
            , ITEM_START_DATE
            , ITEM_END_DATE
            , ITEM_CONTENT
            , ITEM_TEL
            , ITEM_URL
            , ITEM_ROAD_PLACE
            , ITEM_NUM_PLACE
            , ITEM_X
            , ITEM_Y
            , CATE_CODE
            , MEMBER_ID
        )
        VALUES
        (
            #{itemTitle}
            , #{itemPlace}
            , #{itemStartDate}
            , #{itemEndDate}
            , #{itemContent}
            , #{itemTel}
            , #{itemUrl}
            , #{itemRoadPlace}
            , #{itemNumPlace}
            , #{itemX}
            , #{itemY}
            , #{cateCode}
            , #{memberId}
        )

    </insert>


    <insert id="insertNotice">
        INSERT INTO NOTICE(

         NOTICE_TITLE
        ,NOTICE_WRITER
        , NOTICE_CONTENT
        )
        VALUES(
        #{noticeTitle}
        ,#{noticeWriter}
        ,#{noticeContent}
        )
    </insert>

    <select id="selectNextNoticeCode" resultType="int">
        SELECT IFNULL(MAX(NOTICE_CODE),0)+1 FROM NOTICE
    </select>

    <insert id="insertNoticeImg">
        INSERT INTO NOTICE_IMAGE(
          NOTICE_CODE
         , ORIGIN_FILE_NAME
         , ATTACHED_FILE_NAME
        )
        VALUES
        <foreach collection="noticeImgList" item="noticeImg" separator=",">
            (
            #{noticeImg.noticeCode}
            , #{noticeImg.originFileName}
            , #{noticeImg.attachedFileName}
            )
        </foreach>

    </insert>

    <select id="selectNotice" resultMap="notice">
        SELECT
        NOTICE_CODE
        , NOTICE_TITLE
        , NOTICE_CONTENT
        , NOTICE_WRITER
        , NOTICE_DATE
        , READ_CNT
        FROM NOTICE
        <if test="noticeCode != 0">
            WHERE NOTICE_CODE=#{noticeCode}
        </if>
    </select>

    <update id="upReadCnt">
        UPDATE NOTICE SET
        READ_CNT= READ_CNT + 1
        WHERE NOTICE_CODE=#{noticeCode}
    </update>

    <update id="updateNotice">
        UPDATE NOTICE SET
        NOTICE_CONTENT =#{noticeContent}
        WHERE NOTICE_CODE =#{noticeCode}

    </update>

    <delete id="deleteNotice">
        DELETE FROM NOTICE
        WHERE NOTICE_CODE= #{noticeCode}
    </delete>

<!--    댓글 등록-->
    <insert id="insertReply">
        INSERT INTO NOTICE_REPLY(
            CONTENT
            , WRITER
            , NOTICE_CODE
        )
        VALUES(
            #{content}
            , #{writer}
            , #{noticeCode}
        )
    </insert>

<!--    댓글 조회-->
    <select id="selectReply" resultMap="reply">
    SELECT
        REPLY_CODE
        , CONTENT
        , CREATE_DATE
        , WRITER
        , NOTICE_CODE
    FROM NOTICE_REPLY
        WHERE NOTICE_CODE=#{noticeCode}
    </select>

<!--    댓글 삭제-->
    <delete id="deleteReply">
        DELETE FROM NOTICE_REPLY
        WHERE REPLY_CODE=#{replyCode}
    </delete>


<!-- 통계(그래프)에 필요한 쿼리-->
    <select id="selectListAdminStatistics" resultMap="reserveMapper.reserve">
        SELECT  (SELECT CATE_NAME
        FROM CATE
        WHERE CATE_CODE = RESERVE.CATE_CODE) CATE_NAME,
        COUNT(RESERVE_CODE) RESERVE_CODE
        FROM RESERVE
        GROUP BY CATE_CODE;
    </select>
<!-- 도넛 차트(누적 참여수) 쿼리-->
    <select id="selectDate" resultMap="itemCntPerMonth">
        SELECT DATE_FORMAT( DATE_ADD(NOW(), INTERVAL+3 MONTH ), '%Y.%m') MONTH
        , (SELECT COUNT(ITEM_CODE) FROM item_info WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT( DATE_ADD(NOW(), INTERVAL+3 MONTH ), '%Y%m')) AS CNT
        , (SELECT COUNT(RESERVE_CODE) FROM RESERVE_VIEW WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL+3 MONTH ), '%Y%m')) AS RESERVE_CODE
        UNION ALL
        SELECT DATE_FORMAT( DATE_ADD(NOW(), INTERVAL+2 MONTH ), '%Y.%m') MONTH
        , (SELECT COUNT(ITEM_CODE) FROM item_info WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT( DATE_ADD(NOW(), INTERVAL+2 MONTH ), '%Y%m')) AS CNT
        , (SELECT COUNT(RESERVE_CODE) FROM RESERVE_VIEW WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL+2 MONTH ), '%Y%m')) AS RESERVE_CODE
        UNION ALL
        SELECT DATE_FORMAT( DATE_ADD(NOW(), INTERVAL+1 MONTH ), '%Y.%m') MONTH
        , (SELECT COUNT(ITEM_CODE) FROM item_info WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT( DATE_ADD(NOW(), INTERVAL+1 MONTH ), '%Y%m')) AS CNT
        , (SELECT COUNT(RESERVE_CODE) FROM RESERVE_VIEW WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL+1 MONTH ), '%Y%m')) AS RESERVE_CODE
        UNION ALL
        SELECT DATE_FORMAT(NOW(), '%Y.%m') MONTH
        , (SELECT COUNT(ITEM_CODE) FROM item_info WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT(NOW(), '%Y%m')) AS CNT
        , (SELECT COUNT(RESERVE_CODE) FROM RESERVE_VIEW WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT(NOW(), '%Y%m')) AS RESERVE_CODE
        UNION ALL
        SELECT DATE_FORMAT( DATE_ADD(NOW(), INTERVAL-1 MONTH ), '%Y.%m') MONTH
        , (SELECT COUNT(ITEM_CODE) FROM item_info WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT( DATE_ADD(NOW(), INTERVAL-1 MONTH ), '%Y%m')) AS CNT
        , (SELECT COUNT(RESERVE_CODE) FROM RESERVE_VIEW WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL-1 MONTH ), '%Y%m')) AS RESERVE_CODE
        UNION ALL
        SELECT DATE_FORMAT( DATE_ADD(NOW(), INTERVAL-2 MONTH ), '%Y.%m') MONTH
        , (SELECT COUNT(ITEM_CODE) FROM item_info WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT( DATE_ADD(NOW(), INTERVAL-2 MONTH ), '%Y%m')) AS CNT
        , (SELECT COUNT(RESERVE_CODE) FROM RESERVE_VIEW WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL-2 MONTH ), '%Y%m')) AS RESERVE_CODE
        UNION ALL
        SELECT DATE_FORMAT( DATE_ADD(NOW(), INTERVAL-3 MONTH ), '%Y.%m') MONTH
        , (SELECT COUNT(ITEM_CODE) FROM item_info WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT( DATE_ADD(NOW(), INTERVAL-3 MONTH ), '%Y%m')) AS CNT
        , (SELECT COUNT(RESERVE_CODE) FROM RESERVE_VIEW WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL-3 MONTH ), '%Y%m')) AS RESERVE_CODE
        UNION ALL
        SELECT DATE_FORMAT( DATE_ADD(NOW(), INTERVAL-4 MONTH ), '%Y.%m') MONTH
        , (SELECT COUNT(ITEM_CODE) FROM item_info WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT( DATE_ADD(NOW(), INTERVAL-4 MONTH ), '%Y%m')) AS CNT
        , (SELECT COUNT(RESERVE_CODE) FROM RESERVE_VIEW WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL-4 MONTH ), '%Y%m')) AS RESERVE_CODE
        UNION ALL
        SELECT DATE_FORMAT( DATE_ADD(NOW(), INTERVAL-5 MONTH ), '%Y.%m') MONTH
        , (SELECT COUNT(ITEM_CODE) FROM item_info WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT( DATE_ADD(NOW(), INTERVAL-5 MONTH ), '%Y%m')) AS CNT
        , (SELECT COUNT(RESERVE_CODE) FROM RESERVE_VIEW WHERE DATE_FORMAT(ITEM_START_DATE, '%Y%m') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL-5 MONTH ), '%Y%m')) AS RESERVE_CODE
    </select>

    <select id="selectBoardCnt" resultType="int">
        SELECT COUNT(ITEM_CODE)
        FROM ITEM_INFO
        WHERE 1 = 1
        <if test='cateCode != 0'>
            AND CATE_CODE = ${cateCode}
        </if>
        <if test='searchText != null and !searchText.equals("")'>
            AND ${searchOption} LIKE CONCAT('%',#{searchText},'%')
        </if>
        <if test='from != null and !from.equals("")'>
            AND DATE_FORMAT(ITEM_START_DATE, '%Y-%m-%d') &gt;= #{from}
        </if>
        <if test='to != null and !to.equals("")'>
            AND #{to} &gt;= DATE_FORMAT(ITEM_END_DATE, '%Y-%m-%d')
        </if>
    </select>
<!--    도넛차트 (현재 참여한 사람수)조회쿼리-->
    <select id="selectListDoughnutTrueCnt" resultMap="reserveMapper.reserve">
        SELECT
        (SELECT cate_name FROM cate WHERE cate_code = reserve.cate_code) CATE_NAME,
        COUNT(RESERVE_CODE) RESERVE_CODE
        FROM reserve INNER JOIN item_info
        ON reserve.ITEM_CODE = item_info.ITEM_CODE
        WHERE ITEM_START_DATE &lt;= CURRENT_DATE AND ITEM_END_DATE &gt;= CURRENT_DATE+1
        GROUP BY reserve.CATE_CODE
    </select>

    <select id="adminBoardList" resultMap="itemMapper.item">
        SELECT
        INFO.ITEM_CODE
        , ITEM_TITLE
        , ITEM_DATE
        , ITEM_PRICE
        , ITEM_PLACE
        , ITEM_PEOPLE
        , INFO.CATE_CODE
        , PLACE_DETAIL
        , C.CATE_NAME
        , ITEM_CONTENT
        , LEFT(ITEM_START_DATE,10) ITEM_START_DATE
        , LEFT(ITEM_END_DATE,10) ITEM_END_DATE
        , ATTACHED_FILE_NAME
        , READ_CNT

        FROM ITEM_INFO INFO
        INNER JOIN ITEM_IMAGE IMG
        ON INFO.ITEM_CODE = IMG.ITEM_CODE
        INNER JOIN CATE C
        ON INFO.CATE_CODE = C.CATE_CODE

        WHERE IS_MAIN='Y'
        <if test='cateCode != 0'>
            AND INFO.CATE_CODE = #{cateCode}

        </if>
        <if test='searchText != null and !searchText.equals("")'>
            AND ${searchOption} LIKE CONCAT('%',#{searchText},'%')
        </if>
        <if test='from != null and !from.equals("")'>
            AND DATE_FORMAT(ITEM_START_DATE, '%Y-%m-%d') &gt;= #{from}
        </if>
        <if test='to != null and !to.equals("")'>
            AND #{to} &gt;= DATE_FORMAT(ITEM_END_DATE, '%Y-%m-%d')
        </if>
        ORDER BY ITEM_CODE DESC
        <if test='displayDataCnt != 0'>
            LIMIT ${displayDataCnt} OFFSET ${displayDataCnt * (nowPage-1)}

        </if>

    </select>



</mapper>































