<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="adminMapper">

    <resultMap id="notice" type="com.green.Nolloo.admin.vo.NoticeVO">
        <id column="NOTICE_CODE" property="noticeCode"/>
        <result column="NOTICE_WRITER" property="noticeWriter"/>
        <result column="NOTICE_TITLE" property="noticeTitle"/>
        <result column="NOTICE_CONTENT" property="noticeContent"/>
        <result column="NOTICE_DATE" property="noticeDate"/>
        <result column="READ_CNT" property="readCnt"/>
    </resultMap>

	<insert id="insertFestival">
        INSERT INTO ITEM_INFO(
            ITEM_TITLE
            , ITEM_PLACE
            , ITEM_START_DATE
            , ITEM_END_DATE
            , ITEM_CONTENT
            , ITEM_TEL
            , ITEM_URL
            , ITEM_ROAD_PLACE
            , ITEM_NUM_PLACE
            , ITEM_X
            , ITEM_Y
            , CATE_CODE
            , MEMBER_ID
        )
        VALUES
        (
            #{itemTitle}
            , #{itemPlace}
            , #{itemStartDate}
            , #{itemEndDate}
            , #{itemContent}
            , #{itemTel}
            , #{itemUrl}
            , #{itemRoadPlace}
            , #{itemNumPlace}
            , #{itemX}
            , #{itemY}
            , #{cateCode}
            , #{memberId}
        )

    </insert>

    <insert id="insertNotice">
        INSERT INTO NOTICE(

         NOTICE_TITLE
        ,NOTICE_WRITER
        , NOTICE_CONTENT
        )
        VALUES(
        #{noticeTitle}
        ,#{noticeWriter}
        ,#{noticeContent}
        )
    </insert>

    <select id="selectNextNoticeCode" resultType="int">
        SELECT IFNULL(MAX(NOTICE_CODE),0)+1 FROM NOTICE
    </select>

    <insert id="insertNoticeImg">
        INSERT INTO NOTICE_IMAGE(
          NOTICE_CODE
         , ORIGIN_FILE_NAME
         , ATTACHED_FILE_NAME
        )
        VALUES
        <foreach collection="noticeImgList" item="noticeImg" separator=",">
            (
            #{noticeImg.noticeCode}
            , #{noticeImg.originFileName}
            , #{noticeImg.attachedFileName}
            )
        </foreach>

    </insert>

    <select id="selectNotice" resultMap="notice">
    SELECT
        NOTICE_CODE
        , NOTICE_TITLE
        , NOTICE_CONTENT
        , NOTICE_WRITER
        , NOTICE_DATE
        , READ_CNT
        FROM NOTICE
        <if test="noticeCode != 0">
            WHERE NOTICE_CODE=#{noticeCode}
        </if>
    </select>


</mapper>































