<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">

    <resultMap id="item" type="com.green.Nolloo.item.vo.ItemVO">
        <id column="ITEM_CODE" property="itemCode"/>
        <result column="ITEM_TITLE" property="itemTitle"/>
        <result column="ITEM_CONTENT" property="itemContent"/>
        <result column="ITEM_PRICE" property="itemPrice"/>
        <result column="ITEM_DATE" property="itemDate"/>
        <result column="ITEM_PEOPLE" property="itemPeople"/>
        <result column="PEOPLE_CNT" property="peopleCnt"/>
        <result column="READ_CNT" property="readCnt"/>
        <result column="ITEM_PLACE" property="itemPlace"/>
        <result column="PLACE_DETAIL" property="placeDetail"/>
        <result column="ITEM_START_DATE" property="itemStartDate"/>
        <result column="ITEM_END_DATE" property="itemEndDate"/>
        <result column="ITEM_TEL" property="itemTel"/>
        <result column="ITEM_URL" property="itemUrl"/>
        <result column="ITEM_ROAD_PLACE" property="itemRoadPlace"/>
        <result column="ITEM_NUM_PLACE" property="itemNumPlace"/>
        <result column="ITEM_X" property="itemX"/>
        <result column="ITEM_Y" property="itemY"/>
        <result column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="region_1" property="region1"/>
        <result column="region_2" property="region2"/>
        <result column="region_3" property="region3"/>
        <collection property="imgList"  resultMap="img"/>
    </resultMap>

    <resultMap id="category" type="com.green.Nolloo.item.vo.ItemVO">
        <result column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
    </resultMap>


    <resultMap id="img" type="com.green.Nolloo.item.vo.ImgVO">
        <id column="IMG_CODE" property="imgCode"/>
        <result column="ORIGIN_FILE_NAME" property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="IS_MAIN" property="isMain"/>
        <result column="ITEM_CODE" property="itemCode"/>
    </resultMap>
    <resultMap id="cate" type="com.green.Nolloo.item.vo.CateVO">
        <id column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
    </resultMap>

<!--    item 등록쿼리-->
    <insert id="insertParty">
        INSERT INTO ITEM_INFO(
            ITEM_CODE
            , ITEM_TITLE
            , ITEM_CONTENT
            , ITEM_PRICE
            , ITEM_PEOPLE
            , ITEM_PLACE
            , ITEM_X
            , ITEM_Y
            , PLACE_DETAIL
            , ITEM_START_DATE
            , ITEM_END_DATE
            , MEMBER_ID
            , REGION_1
            , REGION_2
            , REGION_3

        )
        VALUES(
            #{itemCode}
            , #{itemTitle}
            , #{itemContent}
            , #{itemPrice}
            , #{itemPeople}
            , #{itemPlace}
            , #{itemX}
            , #{itemY}
            , #{placeDetail}
            , #{itemStartDate}
            , #{itemEndDate}
            , #{memberId}
            , #{region1}
            , #{region2}
            , #{region3}

        )
    </insert>


    <select id="selectCalendarPartyList" resultMap="item">
    SELECT
    ITEM_CODE
    , ITEM_TITLE
    , ITEM_DATE
    , ITEM_PRICE
    , ITEM_PLACE
    , ITEM_PEOPLE
    , CATE_CODE
    , LEFT(ITEM_START_DATE,10) ITEM_START_DATE
    , LEFT(ITEM_END_DATE,10) ITEM_END_DATE
    FROM ITEM_INFO
    </select>

<!--   추천목록 조회-->
    <select id="selectByReadCnt" resultMap="item">
    SELECT IT.ITEM_CODE
        ,IT.ITEM_TITLE
        ,IT.PEOPLE_CNT
    FROM item_info IT
    WHERE 1 = 1
    <if test='memberId != null and !memberId.equals("")'>
        AND IT.CATE_CODE =
        (SELECT maxCnt.CATE_CODE
        FROM
            (SELECT IT.CATE_CODE,
                COUNT(IT.CATE_CODE) AS cnt
            FROM reserve RE
            JOIN item_info IT ON RE.ITEM_CODE = IT.ITEM_CODE
            WHERE RE.MEMBER_ID = #{memberId}
            GROUP BY IT.CATE_CODE
            ) AS maxCnt
        JOIN cate CA ON maxCnt.CATE_CODE = CA.CATE_CODE
        WHERE maxCnt.cnt =
            (SELECT MAX(cnt)
            FROM
                (SELECT COUNT(IT.CATE_CODE) AS cnt
                FROM reserve RE
                JOIN item_info IT ON RE.ITEM_CODE = IT.ITEM_CODE
                WHERE RE.MEMBER_ID = #{memberId}
                GROUP BY IT.CATE_CODE
                ) AS max_subquery
            )
        )
    </if>
    ORDER BY IT.PEOPLE_CNT DESC
    LIMIT 5
    </select>



<!--    item 메인 목록조회-->
    <select id="selectPartyList" resultMap="item">
        SELECT
        ITEM_CODE
        , ITEM_TITLE
        , ITEM_DATE
        , ITEM_PRICE
        , ITEM_PLACE
        , ITEM_PEOPLE
        , CATE_CODE
        , PLACE_DETAIL
        , CATE_NAME
        , ITEM_CONTENT
        , ITEM_START_DATE
        , ITEM_END_DATE
        , ATTACHED_FILE_NAME
        , READ_CNT
        , PEOPLE_CNT
        ,TEST_ORDER
        , GROWNUP
        FROM
        (
        SELECT * , @GROWNUP_1:=@GROWNUP_1+1 AS GROWNUP
        FROM
        (
        SELECT
        INFO.ITEM_CODE
        , ITEM_TITLE
        , ITEM_DATE
        , ITEM_PRICE
        , ITEM_PLACE
        , ITEM_PEOPLE
        , INFO.CATE_CODE
        , PLACE_DETAIL
        , C.CATE_NAME
        , ITEM_CONTENT
        , LEFT(ITEM_START_DATE,10) ITEM_START_DATE
        , LEFT(ITEM_END_DATE,10) ITEM_END_DATE
        , ATTACHED_FILE_NAME
        , READ_CNT
        , PEOPLE_CNT
        , 1 AS TEST_ORDER
        FROM ITEM_INFO INFO
        INNER JOIN ITEM_IMAGE IMG
        ON INFO.ITEM_CODE = IMG.ITEM_CODE
        INNER JOIN CATE C
        ON INFO.CATE_CODE = C.CATE_CODE
        WHERE IS_MAIN='Y'
        AND ITEM_END_DATE &gt; CURRENT_DATE()
        <if test='cateCode != 0'>
            AND INFO.CATE_CODE = #{cateCode}

        </if>
        ORDER BY ITEM_START_DATE
        <if test='limit != 0'>
            LIMIT ${limit} OFFSET ${offset}

        </if>
        ) AA,(select @GROWNUP_1:=0) temp
        ) A
        UNION ALL
        SELECT
        ITEM_CODE
        , ITEM_TITLE
        , ITEM_DATE
        , ITEM_PRICE
        , ITEM_PLACE
        , ITEM_PEOPLE
        , CATE_CODE
        , PLACE_DETAIL
        , CATE_NAME
        , ITEM_CONTENT
        , ITEM_START_DATE
        , ITEM_END_DATE
        , ATTACHED_FILE_NAME
        , READ_CNT
        , PEOPLE_CNT
        ,TEST_ORDER, GROWNUP
        FROM
        (
        SELECT * , @GROWNUP_2:=@GROWNUP_2+1 AS GROWNUP
        FROM
        (
        SELECT
        INFO.ITEM_CODE
        , ITEM_TITLE
        , ITEM_DATE
        , ITEM_PRICE
        , ITEM_PLACE
        , ITEM_PEOPLE
        , INFO.CATE_CODE
        , PLACE_DETAIL
        , C.CATE_NAME
        , ITEM_CONTENT
        , LEFT(ITEM_START_DATE,10) ITEM_START_DATE
        , LEFT(ITEM_END_DATE,10) ITEM_END_DATE
        , ATTACHED_FILE_NAME
        , READ_CNT
        , PEOPLE_CNT
        , 2 AS TEST_ORDER

        FROM ITEM_INFO INFO
        INNER JOIN ITEM_IMAGE IMG
        ON INFO.ITEM_CODE = IMG.ITEM_CODE
        INNER JOIN CATE C
        ON INFO.CATE_CODE = C.CATE_CODE
        WHERE IS_MAIN='Y'
        AND ITEM_END_DATE &lt;= CURRENT_DATE()
        <if test='cateCode != 0'>
            AND INFO.CATE_CODE = #{cateCode}

        </if>
        ORDER BY ITEM_START_DATE DESC
        <if test='limit != 0'>
            LIMIT ${limit} OFFSET ${offset}

        </if>
        ) BB,  (select @GROWNUP_2:=0) temp
        ) B
        ORDER BY TEST_ORDER, GROWNUP
        <if test='limit != 0'>
            LIMIT ${limit} OFFSET ${offset}

        </if>
    </select>

    <select id="selectByDistance" resultMap="item">
        SELECT
        INFO.ITEM_CODE
        , ITEM_TITLE
        , ITEM_DATE
        , ITEM_PRICE
        , ITEM_PLACE
        , ITEM_PEOPLE
        , ITEM_X
        , ITEM_Y
        , INFO.CATE_CODE
        , c.CATE_NAME
        , LEFT(ITEM_START_DATE,10) ITEM_START_DATE
        , LEFT(ITEM_END_DATE,10) ITEM_END_DATE
        , ATTACHED_FILE_NAME
        , READ_CNT
        FROM ITEM_INFO INFO
        INNER JOIN ITEM_IMAGE IMG
        ON INFO.ITEM_CODE = IMG.ITEM_CODE
        INNER JOIN CATE c
        ON INFO.CATE_CODE = c.CATE_CODE

        WHERE IS_MAIN='Y'
        <if test='cateCode != null and cateCode != ""'>
            AND INFO.CATE_CODE = #{cateCode}
        </if>

        <if test='searchDate != null and !searchDate.equals("")'>
            AND #{searchDate} &gt;= DATE_FORMAT(ITEM_START_DATE, '%Y-%m-%d')
            AND DATE_FORMAT(ITEM_END_DATE, '%Y-%m-%d') &gt;= #{searchDate}
        </if>
        <if test='region1 != null and region1 !=""'>
            AND region_1 = #{region1}
        </if>
        <if test='region2 != null and region2 !=""'>
            AND region_2 = #{region2}
        </if>

        ORDER BY ITEM_START_DATE DESC
    </select>



    <select id="selectAllCategory" resultMap="category">
        SELECT * FROM CATE
    </select>



<!--    item상세페이지 조회쿼리 -->
<select id="selectPartyDetail" resultMap="item">
    SELECT
        INFO.ITEM_CODE
        , ITEM_TITLE
        , ITEM_PLACE
        , PLACE_DETAIL
        , ITEM_DATE
        , ITEM_CONTENT
        , ITEM_PEOPLE
        , ITEM_PRICE
        , LEFT(ITEM_START_DATE,10) ITEM_START_DATE
        , LEFT(ITEM_END_DATE,10) ITEM_END_DATE
        , ATTACHED_FILE_NAME
        , IS_MAIN
        , ITEM_X
        , ITEM_Y
        , READ_CNT
        , CATE_CODE
        , MEMBER_ID
    FROM ITEM_INFO INFO
    INNER JOIN ITEM_IMAGE IMG
    ON INFO.ITEM_CODE=IMG.ITEM_CODE
    WHERE INFO.ITEM_CODE = #{itemCode}
</select>
    <delete id="deleteParty">
        DELETE
        FROM ITEM_INFO
        WHERE ITEM_CODE = #{itemCode}
    </delete>

    <delete id="deleteImg">
        DELETE
        FROM ITEM_IMAGE
        WHERE ITEM_CODE = #{itemCode}
    </delete>
    <select id="selectItemImage" resultType="String">
        SELECT
        ATTACHED_FILE_NAME
        FROM ITEM_IMAGE
        WHERE ITEM_CODE=#{itemCode}
    </select>

    <delete id="deleteChatRoom">
        DELETE
        FROM CHAT_ROOM
        WHERE ITEM_CODE= #{itemCode}
    </delete>


    <update id="updateParty">
        UPDATE ITEM_INFO
        SET ITEM_TITLE = #{itemTitle}
        , ITEM_CONTENT = #{itemContent}
        , ITEM_PRICE = #{itemPrice}
        , ITEM_PEOPLE = #{itemPeople}
        , ITEM_PLACE = #{itemPlace}
        , PLACE_DETAIL = #{placeDetail}
        WHERE ITEM_CODE = #{itemCode}
    </update>

    <select id="selectNextItemCode" resultType="int">
        SELECT IFNULL(MAX(ITEM_CODE),0)+1 FROM ITEM_IMAGE
    </select>

    <insert id="insertImgs">
        INSERT INTO ITEM_IMAGE(
            ORIGIN_FILE_NAME
            , ATTACHED_FILE_NAME
            , IS_MAIN
            , ITEM_CODE
        )VALUES
        <foreach collection="imgList" item="img" separator=",">
            (
                #{img.originFileName}
                , #{img.attachedFileName}
                , #{img.isMain}
                , #{img.itemCode}
            )
        </foreach>
    </insert>
    <update id="itemListUpdateCnt">
        UPDATE ITEM_INFO
        SET
        READ_CNT = READ_CNT+1
        WHERE ITEM_CODE = #{itemCode}
    </update>

    <select id="itemAllCnt" resultType="int">
        SELECT COUNT(ITEM_CODE)
        FROM ITEM_INFO
        <if test='cateCode != 0'>
            WHERE CATE_CODE = #{cateCode}
        </if>
    </select>

<!--    나의 파티 조회-->
    <select id="selectMyParty" resultMap="item">
        SELECT ITEM_CODE
        , ITEM_TITLE
        , ITEM_PEOPLE
        , date_format(ITEM_START_DATE,'%Y-%m-%d') ITEM_START_DATE
        FROM ITEM_INFO
        WHERE MEMBER_ID=#{memberId}
        AND CATE_CODE = 1
    </select>

<!--    나의 파티 상세 -->
    <select id="selectItemDetail" resultMap="item">
        SELECT
            ITEM_INFO.ITEM_CODE
            , ITEM_CONTENT
            , ITEM_PLACE
            , date_format(ITEM_START_DATE,'%Y-%m-%d') ITEM_START_DATE
            , date_format(ITEM_END_DATE,'%Y-%m-%d') ITEM_END_DATE
            , ITEM_TEL
            , ITEM_PRICE
            , IMG_CODE
            , ATTACHED_FILE_NAME
            , IS_MAIN
            , ORIGIN_FILE_NAME
            , ITEM_TITLE
            , ITEM_PEOPLE
            , IMG_CODE
        FROM item_info JOIN ITEM_IMAGE
        ON ITEM_INFO.ITEM_CODE = ITEM_IMAGE.ITEM_CODE
        WHERE ITEM_INFO.ITEM_CODE=#{itemCode}
    </select>

    <update id="updateItemDetail">
        UPDATE ITEM_INFO
        SET
         ITEM_CONTENT=#{itemContent}
        , ITEM_PLACE=#{itemPlace}
        , ITEM_PRICE=#{itemPrice}
        , ITEM_TEL=#{itemTel}
        , ITEM_TITLE=#{itemTitle}
        , ITEM_PEOPLE=#{itemPeople}
        WHERE ITEM_CODE=#{itemCode}
    </update>


    <insert id="insertImage">
    INSERT INTO ITEM_IMAGE(
         ATTACHED_FILE_NAME
        , ORIGIN_FILE_NAME
        , IS_MAIN
        , ITEM_CODE
        )
        VALUES
        <foreach collection="imgList" item="img" separator=",">
        (
        #{img.attachedFileName}
        , #{img.originFileName}
        , #{img.isMain}
        , #{itemCode}
        )
        </foreach>
    </insert>


    <delete id="deleteItemImg">
        DELETE FROM ITEM_IMAGE
        WHERE IMG_CODE  = #{imgCode}
    </delete>


    <update id="updatePeopleCnt">
        UPDATE ITEM_INFO
        SET PEOPLE_CNT = PEOPLE_CNT + 1
        WHERE ITEM_CODE = #{itemCode}
    </update>
    <update id="minusPeopleCnt">
        UPDATE ITEM_INFO
        SET PEOPLE_CNT = PEOPLE_CNT - 1
        WHERE ITEM_CODE IN
        <foreach collection="reserveCodeList" item="reserveCode" open="(" separator=", " close=")">
            #{reserveCode}
        </foreach>
    </update>

    <select id="findAttachedFileNameByImgCode" resultType="String">
        SELECT ATTACHED_FILE_NAME
        FROM ITEM_IMAGE
        WHERE IMG_CODE = #{imgCode}
    </select>

    <select id="selectCate" resultMap="cate">
        SELECT CATE_CODE
            ,CATE_NAME
        FROM CATE
    </select>

    <select id="titleSearch" resultMap="item">
        SELECT ITEM_TITLE
            ,ITEM_CONTENT
            ,ITEM_PRICE
            ,ITEM_PLACE
            ,ITEM_TEL
            ,ITEM_URL
            ,MEMBER_ID
            ,INFO.CATE_CODE
            , PLACE_DETAIL
            , C.CATE_NAME
            , ITEM_CONTENT
            , LEFT(ITEM_START_DATE,10) ITEM_START_DATE
            , LEFT(ITEM_END_DATE,10) ITEM_END_DATE
            , ATTACHED_FILE_NAME
            , READ_CNT

            FROM ITEM_INFO INFO
            INNER JOIN ITEM_IMAGE IMG
            ON INFO.ITEM_CODE = IMG.ITEM_CODE
            INNER JOIN CATE C
            ON INFO.CATE_CODE = C.CATE_CODE
            WHERE ITEM_TITLE LIKE CONCAT ('%',#{searchText},'%')
            OR ITEM_PRICE LIKE CONCAT ('%',#{searchText},'%')
            OR ITEM_PLACE LIKE CONCAT ('%',#{searchText},'%')
            OR ITEM_START_DATE LIKE CONCAT ('%',#{searchText},'%')
            OR ITEM_END_DATE LIKE CONCAT ('%',#{searchText},'%')
            OR MEMBER_ID LIKE CONCAT ('%',#{searchText},'%')
    </select>
    <select id="contentSearch" resultMap="item">
    SELECT ITEM_CONTENT
    FROM item_info
    WHERE ITEM_CONTENT LIKE CONCAT ('%' ,#{searchText}, '%')
    </select>
</mapper>
