<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">

    <insert id="join">
        INSERT INTO MEMBER(
        MEMBER_ID
        , MEMBER_PW
        , MEMBER_NAME
        , MEMBER_BIRTH
        , GENDER
        , MEMBER_EMAIL
        , MEMBER_TEL
        , MEMBER_ADDR
        , ADDR_DEATIL
        )

        VALUES(
       #{memberId}
        ,#{memberPw}
        ,#{memberName}
        ,#{memberBirth}
        ,#{gender}
        ,#{memberEmail}
        ,#{memberTel}
        ,#{memberAddr}
        ,#{addrDetail}
        );

    </insert>
	
</mapper>































