<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">

    <resultMap id="member" type="com.green.Nolloo.member.vo.MemberVO">
        <result column="MEMBER_ID" property="memberId"/>
        <result column="MEMBER_PW" property="memberPw"/>
        <result column="MEMBER_NAME" property="memberName"/>
        <result column="MEMBER_BIRTH" property="memberBirth"/>
        <result column="MEMBER_EMAIL" property="memberEmail"/>
        <result column="MEMBER_TEL" property="memberTel"/>
        <result column="GENDER" property="gender"/>
        <result column="MEMBER_POST" property="memberPost"/>
        <result column="MEMBER_ADDR" property="memberAddr"/>
        <result column="ADDR_DETAIL" property="addrDetail"/>
        <result column="MEMBER_ROLL" property="memberRoll"/>
        <result column="JOIN_DATE" property="joinDate"/>
        <association property="memberImageVO" resultMap="memberImg"/>
    </resultMap>

    <resultMap id="memberImg" type="com.green.Nolloo.member.vo.MemberImageVO">
        <id column="MEMBER_IMG_CODE" property="memberImgCode"/>
        <result column="ORIGIN_FILE_NAME" property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="MEMBER_ID" property="memberId"/>
    </resultMap>
    <insert id="join">
        INSERT INTO MEMBER(
        MEMBER_ID
        , MEMBER_PW
        , MEMBER_NAME
        , MEMBER_BIRTH
        , GENDER
        , MEMBER_EMAIL
        , MEMBER_TEL
        , MEMBER_POST
        , MEMBER_ADDR
        , ADDR_DETAIL
        )

        VALUES(
       #{memberId}
        ,#{memberPw}
        ,#{memberName}
        ,#{memberBirth}
        ,#{gender}
        ,#{memberEmail}
        ,#{memberTel}
        ,#{memberPost}
        ,#{memberAddr}
        ,#{addrDetail}
        );

    </insert>
<!--    프로필 이미지 쿼리-->
    <insert id="profileImageInsert">
        INSERT INTO MEMBER_IMAGE(
            ORIGIN_FILE_NAME
            , ATTACHED_FILE_NAME
            , MEMBER_ID
        )VALUES(
             #{memberImageVO.originFileName}
            , #{memberImageVO.attachedFileName}
            , #{memberId}
        )
    </insert>

    <select id="login" resultMap="member">
        SELECT
        MEMBER_ID
        ,MEMBER_PW
        ,MEMBER_ROLL
        FROM MEMBER
        WHERE MEMBER_ID=#{memberId}
    </select>


    <select id="memberInfo" resultMap="member">
        SELECT MEMBER_ID
        , MEMBER_PW
        , MEMBER_NAME
        , MEMBER_BIRTH
        , MEMBER_EMAIL
        , MEMBER_TEL
        , GENDER
        , MEMBER_POST
        , MEMBER_ADDR
        , ADDR_DETAIL
        FROM MEMBER
        WHERE MEMBER_ID=#{memberId}
    </select>

    <update id="revise">
        UPDATE MEMBER SET
        MEMBER_PW= #{memberPw}
        , MEMBER_NAME= #{memberName}
        , MEMBER_BIRTH= #{memberBirth}
        , MEMBER_EMAIL= #{memberEmail}
        , MEMBER_TEL= #{memberTel}
        , GENDER= #{gender}
        , MEMBER_POST= #{memberPost}
        , MEMBER_ADDR= #{memberAddr}
        , ADDR_DETAIL= #{addrDetail}

        WHERE MEMBER_ID=#{memberId}
    </update>

    <delete id="deleteMember">
        DELETE FROM MEMBER
        WHERE MEMBER_ID=#{memberId}

    </delete>



	
</mapper>































