<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="reserveMapper">

    <resultMap id="reserve" type="com.green.Nolloo.reserve.vo.ReserveVO">
        <result column="RESERVE_CODE" property="reserveCode"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="RESERVE_DATE" property="reserveDate"/>
        <result column="RESERVE_PRICE" property="reservePrice"/>
        <result column="ITEM_CODE" property="itemCode"/>
        <association property="itemVO" resultMap="itemMapper.item"/>

    </resultMap>

<!-- 이전 예약 내역 조회-->
    <select id="reserveDone" resultType="int">
        SELECT COUNT(ITEM_CODE)
        FROM RESERVE
        WHERE MEMBER_ID=#{memberId}
        AND ITEM_CODE = #{itemCode}
    </select>


<!--예약하기-->
    <insert id="insertReserve">
        INSERT INTO RESERVE(
         MEMBER_ID
        , ITEM_CODE
        )
        VALUES(
          #{memberId}
         , #{itemCode}
        )
    </insert>
<!--예약 내역 조회-->
    <select id="selectReserve" resultMap="reserve">
        SELECT
        RESERVE_CODE
        , RESERVE_DATE
        , RESERVE.MEMBER_ID
        , RESERVE.ITEM_CODE
        , ITEM_TITLE
        FROM RESERVE INNER JOIN item_info
        ON RESERVE.ITEM_CODE = item_info.ITEM_CODE
        <if test="memberId != null ">
            WHERE RESERVE.MEMBER_ID=#{memberId}
        </if>

    </select>

<!--   예약 상세 내역 조회-->
    <select id="selectDetail" resultMap="itemMapper.item">
        SELECT
        ITEM_CODE
        , ITEM_TITLE
        , ITEM_CONTENT
        , ITEM_PRICE
        , ITEM_START_DATE
        , ITEM_PEOPLE
        , ITEM_PLACE
        FROM item_info
        WHERE ITEM_CODE=#{itemCode}
    </select>

    <delete id="deleteReserve">

        DELETE
        FROM RESERVE
        WHERE ITEM_CODE IN
        <!--collection : 무엇으로 반복할래?-->
        <!--item : 하나씩 빼서 뭐라고 할래?-->
        <!--open : 반복이 시작되기 전에 딱 한번 실행하는 문자-->
        <!--separator : 반복이 한번 돌때마다 실행하는 문자-->
        <foreach collection="reserveCodeList" item="reserveCode" open="(" separator=", " close=")">
            #{reserveCode}
        </foreach>






    </delete>

	
</mapper>































