<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="wishMapper">
    <resultMap id="wish" type="com.green.Nolloo.wish.vo.WishViewVO">
        <result column="ITEM_CODE" property="itemCode"/>
        <result column="ITEM_TITLE" property="itemTitle"/>
        <result column="ITEM_CONTENT" property="itemContent"/>
        <result column="ITEM_PRICE" property="itemPrice"/>
        <result column="ITEM_DATE" property="itemDate"/>
        <result column="ITEM_PEOPLE" property="itemPeople"/>
        <result column="PEOPLE_CNT" property="peopleCnt"/>
        <result column="ITEM_PLACE" property="itemPlace"/>
        <result column="PLACE_DETAIL" property="placeDetail"/>
        <result column="CATE_CODE" property="cateCode"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="MEMBER_NAME" property="memberName"/>
        <result column="ADDRESS" property="address"/>
        <result column="MEMBER_BIRTH" property="memberBirth"/>
        <result column="GENDER" property="gender"/>
        <result column="MEMBER_EMAIL" property="memberEmail"/>
        <result column="MEMBER_TEL" property="memberTel"/>
        <result column="JOIN_DATE" property="joinDate"/>
        <result column="WISH_CODE" property="wishCode"/>
        <result column="WISH_DATE" property="wishDate"/>
    </resultMap>
	<insert id="insertWish">
        INSERT INTO ITEM_WISH(
            ITEM_CODE
            ,MEMBER_ID
        )VALUES(
            #{itemCode}
            ,#{memberId}
        )
    </insert>

    <select id="selectWish" resultMap="wish">
        SELECT WISH_CODE
            ,ITEM_CODE
            ,WISH_DATE
            ,ITEM_TITLE
            ,ITEM_CONTENT
            ,ITEM_PRICE
            ,ITEM_PEOPLE
            ,PEOPLE_CNT
            ,ITEM_PLACE
            ,PLACE_DETAIL
        FROM WISH_VIEW
        WHERE MEMBER_ID = #{memberId}
    </select>

    <delete id="wishDelete">
        DELETE
        FROM ITEM_WISH
        WHERE ITEM_CODE = #{itemCode}
        AND MEMBER_ID = #{memberId}
    </delete>

    <select id="check" resultType="int">
        SELECT COUNT(ITEM_CODE)
        FROM ITEM_WISH
        WHERE ITEM_CODE = #{itemCode}
        AND MEMBER_ID = #{memberId}
    </select>


</mapper>































