<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div>

        <div class="w-[80%] h-500px ml-20 mb-14">
            <div>
                <select name="cateCode" id="" class="cate-select">
                    <option value="0" th:selected="${adminPageVO.cateCode} == 0">전체</option>
                    <th:block th:each="cate : ${session.cateList}">
                        <option th:value="${cate.cateCode}" th:selected="${adminPageVO.cateCode == cate.cateCode}">[[${cate.cateName}]]</option>

                    </th:block>
                </select>
            </div>
            <table class=" border-collapse w-[100%] text-center mt-[60px]">
                <caption class="text-left text-red-400 text-[19px]">글 목록</caption>

                <colgroup>
                    <col width="5%">
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                    <col width="15%">
                    <col width="5%">
                    <col width="10%">

                </colgroup>
                <thead>
                    <tr class="[&>td]:p-2 text-white font-semibold border-b-2  border-t-red-500 bg-red-300">
                        <td>NO</td>
                        <td>제목</td>
                        <td>가격</td>
                        <td>정원/참여인원</td>
                        <td>장소</td>
                        <td>일자</td>
                        <td>조회수</td>

                    </tr>
                </thead>
                <tbody class="change-td">
                    <th:block th:if="${#lists.size(itemList)}!=0">
                        <tr th:each="board,state : ${itemList}"
                            class="[&>td]:p-2 font-semibold border-b-2  border-t-red-500">
                            <!-- <td>[[${#lists.size(itemList)-state.index}]]</td> -->
                            <td>[[${board.itemCode}]]</td>
                            <td>
                                [[${board.itemTitle}]]
                            </td>

                            <td>[[${board.itemPrice == '0' ? '-' : board.itemPrice}]]</td>
                            <td>
                                [[${board.cateCode == 2 ? '-' : board.itemPeople +'/'+ board.peopleCnt}]]
                            </td>
                            <td>[[${board.itemPlace}]]</td>
                            <td>[[${board.itemStartDate}]]~[[${board.itemEndDate}]]</td>
                            <td>[[${board.readCnt}]]</td>
                        </tr>
                    </th:block>
                    <th:block th:if="${#lists.size(itemList)} == 0">
                        <tr class="[&>td]:p-2 font-semibold border-b-2  border-t-red-500">
                            <!-- <td>[[${#lists.size(itemList)-state.index}]]</td> -->
                            <td colspan="7">조회된 목록이 없습니다.</td>
                            
                        </tr>
                    </th:block>

                </tbody>

            </table>

        </div>
        <div>
            <div class="mb-[12]">
                <!-- ${searchVO.beginPage} -->
                <!-- ${searchVO.endPage} -->

                <th:block th:if="${adminPageVO.prev}">
                    <a th:href="@{/admin/adminBoardManage(nowPage=${adminPageVO.beginPage-1})}">
                        이전 </a>
                </th:block>

                <th:block th:each="i : ${#numbers.sequence(adminPageVO.beginPage, adminPageVO.endPage)}">
                    <a th:href="@{/admin/adminBoardManage(nowPage=${i})}">
                        [[${i}]] </a>
                </th:block>

                <th:block th:if="${adminPageVO.next}">
                    <a th:href="@{/admin/adminBoardManage(nowPage=${adminPageVO.endPage+1})}">
                        다음 </a>
                </th:block>

            </div>
        </div>
        <div>
            <div>
                <form action="/admin/adminBoardManage" method="post">

                    <span><input type="date" name="from" value="from"></span>
                    <span><input type="date" name="to" value="to"></span>
                    <span>
                        <select name="cateCode">
                            <option value="0" th:selected="${adminPageVO.cateCode} == 0">전체</option>
                            <th:block th:each="cate : ${session.cateList}">
                                <option th:value="${cate.cateCode}" th:selected="${adminPageVO.cateCode == cate.cateCode}">
                                    [[${cate.cateName}]]
                                </option>

                            </th:block>
                        </select>
                    </span>
                    <span>
                        <select name="searchOption">
                            <option value="MEMBER_ID" th:selected="${adminPageVO.searchOption}=='MEMBER_ID'">작성자</option>
                            <option value="ITEM_TITLE" th:selected="${adminPageVO.searchOption}=='ITEM_TITLE'">제목</option>
                        </select>
                    </span>
                    <span><input type="text" name="searchText" th:value="${adminPageVO.searchText}"></span>
                    <span><button type="submit">검색</button></span>
                </form>



            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->

    <script src="/js/content/admin/admin_board_manage.js"></script>

</th:block>

</html>