<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
    <!-- <link rel="stylesheet" src="/css/content/admin/admin_join_statistics.css"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="mb-20">
        참여통계
        <div class="flex">
            <div>
                <canvas id="doughnut-chart" style="width:500px; height: 500px;" onclick="doughnut()"></canvas>
            </div>
            <div>
                <canvas id="mixed-chart" style="width: 500px; height: 500px;"></canvas>
            </div>
        </div>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[80%]">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            NO.
                        </th>
                        <th scope="col" class="px-6 py-3">
                            참여 파티
                        </th>
                        <th scope="col" class="px-6 py-3">
                            ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            파티명
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                        th:each="reserve, state : ${reserveList}">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            [[${#lists.size(reserveList)-state.index}]]
                        </th>
                        <td class="px-6 py-4">
                            [[${reserve.cateName}]]
                        </td>
                        <td class="px-6 py-4">
                            [[${reserve.memberId}]]
                        </td>
                        <td class="px-6 py-4">
                            [[${reserve.itemTitle}]]
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/content/admin/admin_join_statistics.js"></script>
</th:block>

</html>