<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
    <!-- <link rel="stylesheet" src="/css/content/admin/admin_join_statistics.css"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    참여통계
    <div class="flex">
        <div>
            <canvas id="doughnut-chart-item" style="width: 100%; height: 100%;"></canvas>
        </div>
        <div class="layer">
            <canvas id="mixed-chart" style="width: 100%; height: 100%;"></canvas>
        </div>
        <div >
            <canvas id="doughnut-chart-itemTrue" style="width: 100%; height: 100%;"></canvas>
        </div>
    </div>
    
        
    

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/content/admin/admin_join_statistics.js"></script>
</th:block>

</html>