<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
    <!-- <link rel="stylesheet" src="/css/content/admin/admin_join_statistics.css"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="mb-20 mt-3">
        참여통계
        <div class="flex">
            <div>
                <canvas id="doughnut-chart" style="width:500px; height: 500px;" onclick="doughnut()"></canvas>
            </div>
            <div>
                <canvas id="mixed-chart" style="width: 500px; height: 500px;"></canvas>
            </div>
        </div>
        <div class="mb-[10%] ml-10">
            <table class="border-collapse mt-3 w-[75%]">
                <caption class="text-left text-red-400 text-[19px]">파티참여 총 회원</caption>
                <colgroup>
                    <col width="8%">
                    <col width="10%">
                    <col width="20%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr class="[&>td]:p-2 text-white font-semibold border-b-2  border-t-red-500 bg-red-300 text-center">
                        <td>NO.</td>
                        <td>참여 파티</td>
                        <td>ID</td>
                        <td>파티명</td>
                    </tr>
                </thead>
                <tbody>
                    <tr  class="[&>td]:p-2 font-semibold border-b-2 text-center" th:each="reserve, state : ${reserveList}">
                        <td>[[${#lists.size(reserveList)-state.index}]]</td>
                        <td>[[${reserve.cateName}]]</td>
                        <td>[[${reserve.memberId}]]</td>
                        <td>[[${reserve.itemTitle}]]</td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/content/admin/admin_join_statistics.js"></script>
</th:block>

</html>