<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">

    <form action="/admin/noticeRevise" method="post">
        <input type="hidden" name="noticeCode" th:value="${noticeDetail.noticeCode}">
        <div class="w-full">
            <table class="w-[60%] m-auto border mt-[5%]">
                <caption>공지사항</caption>
                <thead>
                    <tr class="bg-red-300 [&>td]:p-2">
                        <td colspan="5"></td>
                    </tr>
                    <tr class="border-b-2 [&>td]:p-2 text-center">
                        <td>[[${noticeDetail.noticeCode}]]</td>
                        <td>[[${noticeDetail.noticeTitle}]]</td>
                        <td>[[${noticeDetail.noticeDate}]]</td>
                        <td>[[${noticeDetail.readCnt}]]</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="[&>td]:p-2 text-center">
                        <td colspan="5">
                        <input type="text" name="noticeContent" th:value="${noticeDetail.noticeContent}">
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="w-[60%] m-auto text-right mt-[20px]">
                <input class="bg-red-300 text-white rounded-lg w-[10%]" type="submit" value="수정하기">
            </div>
        </div>
    </form>



</th:block>



<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>

</html>