<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->


    <div class="w-[80%]">
        <form action="/admin/notice" method="post" enctype="multipart/form-data">
            <div class="justify-start">
                <input type="hidden" name="noticeWriter" th:value="${session.memberId}">
                <table class="mt-[10%] w- ml-[30px] m-auto border border-collapse">
                    <caption class="text-left text-red-400">공지사항 글쓰기</caption>
                    <tbody class="[&>tr>td]:border [&>tr]:border">

                        <tr>
                            <td class="w-[200px] bg-red-300 text-white">제목</td>
                            <td class="w-[800px]">
                                <input type="text" name="noticeTitle" id="">
                            </td>
                        </tr>
                        <tr class="h-50">
                            <td class="w-[200px] bg-red-300 text-white ">content</td>
                            <td class="w-[800px] ">
                                <input type="text" name="noticeContent" id="">
                            </td>
                        </tr>
                        <tr class="h-10">
                            <td class="w-[200px] bg-red-300 text-white ">첨부파일</td>
                            <td>
                                <input type="file" name="noticeImgs" multiple />
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="mt-[20px] ml-[80%]">
                <input class="bg-red-300 text-white rounded-lg w-[20%]" type="submit" value="확인" name="" id="">
            </div>
        </form>
    </div>






</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>

</html>